/assets/resourcepacks
/assets/worlds
/gradle

/core/out/
/desktop/out/
/server/out/

## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/core/bin/
/desktop/bin/
/server/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/server/nbproject/private/

/build/
/core/build/
/desktop/build/
/server/build/

/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/server/nbbuild/

/dist/
/core/dist/
/desktop/dist/
/server/dist/

/nbdist/
/core/nbdist/
/desktop/nbdist/
/server/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/editor/build

## OS Specific
.DS_Store
Thumbs.db
